@model IEnumerable<Department>

@{
    ViewData["Title"] = "Get All Departments";
}


<h2>GetAllDepartments</h2>

<table class="table">
    <thead>
        <tr>
            <td>Department ID</td>
            <td>Department Name</td>
            <td>Current Chair</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Department eachDepartment in Model)
        {
            var FullName = "No Chair";

            if (eachDepartment.DepartmentChairID != null)
            {
                FullName = eachDepartment.DepartmentChair.FirstName + " " + eachDepartment.DepartmentChair.LastName;
            }
                <tr>
                    <td>@eachDepartment.DepartmentID</td>
                    <td>@eachDepartment.DepartmentName</td>
                    <td>@FullName</td>
                </tr>
          
        }
    </tbody>

</table>